body{

  background-image: url('https://img.freepik.com/foto-gratis/marco-equipo-oficina-escritorio-blanco_1357-235.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  text-align-last: center;
}
.contenedor{
    width:300px;
    height:470px;
    position: relative;
    top: 153px;
    left:30%;
    background-color:rgb(78, 77, 77);
    border-radius:10px;
    box-shadow: 3px 3px #3a3939;
}
#campo{
    position: relative;
    top:20px;
    width:270px;
    height:90px;
    border-radius:10px solid ;
    font-family:Garamond,Serif;
    font-size:30px;
    background-color:#95c2cd;
}
.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 15px;
}

.btn {
    position:relative;
    height:60px;
    font-family:Impact,Charcoal,sans-serif;
    font-size:20px;
    font-weight:bolder;
    top: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 1px;
}
.btn:hover{
    background-color: #bbd7f0;
}
.btn:active{
    background-color: #8bbeeb;
    border: none;
}
.btn:focus{
    outline: none;
}
.op{
    color: rgb(9, 84, 128);
}
.result{
    grid-column: 3 / span 2;
    background-color: rgb(48, 132, 228);
}
.result:hover{
    background-color: rgb(32, 96, 170);
}
.result:active{
    background-color:rgb(25, 72, 126);
    border: none;
}
.clean{
    grid-column: 1 / span 2;
    background-color: rgb(245, 89, 89);
}
.clean:hover{
    background-color: rgb(180, 66, 66);
}
.clean:active{
    background-color:rgb(134, 48, 48);
    border: none;
}